body {
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 30px; 
}

h1 {
  font-family: "Bitcount Single", sans-serif;
  font-weight: 400;
  font-size: 50px;
  color: black;
  margin: 0;
}

.button {
  display: inline-block;
  font-family: "Bitcount Single", sans-serif;
  font-weight: 400;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  background-color: black;
  color: lightblue;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  padding: 20px 20px;
}
