body {
  background-color: lightblue;
}

h1 {
  font-family: "Bitcount Single", sans-serif;
  font-weight: 400;
  font-size: 50px;
  color: black;
  position: relative;
  top: 35px;
  left: 400px;
}

.button {
  display: inline-block;
  padding: 30px 30px;
  margin-right: 200px;
  position: relative;
  top: 100px;
  left: 300px;
  font-family: "Bitcount Single", sans-serif;
  font-weight: 400;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  color: lightblue;
  background-color: black;
  border: none;
  border-radius: 38px;
  cursor: pointer;
}
