body {
  background-color: lightblue;     
}

h1 {
  position: absolute;
  top: 35px;
  left: 500px;
  font-family: "Bitcount Single", sans-serif;
  font-weight: 400;
  font-size: 50px;
  color: black;      
  text-align: center;       
}

.button {
  position: absolute;
  top: 75px;
  left: 450px;
  font-family: "Bitcount Single", sans-serif;
  font-weight: 400;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  background-color: black;
  color: lightblue;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  padding: 20px 20px;
}
