body {
  background-color: lightblue;
}

h1 {
  color: black;
  font-family: "Bitcount Single", sans-serif;
  font-weight: 400;
  font-size: 50px;
  position: absolute;
  left: 250px;
  top: 35px;
}

.button {
  font-family: "Bitcount Single", sans-serif;
  font-weight: 400;
  font-size: 25px;
  background-color: black;
  border: none;
  color: lightblue;
  padding: 30px 30px;
  margin-right: 150px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  border-radius: 38px;
  position: absolute;
  left: 250px;
  top: 100px;
}
