body {
  max-width: 1920px;
  background-color: lightblue;
}

h1 {
  position: relative;
  top: 35px;
  left: 450px;

  font-family: "Bitcount Single", sans-serif;
  font-weight: 400;
  font-size: 50px;
  color: black;
}

.button {
  position: relative;
  top: 75px;
  left: 400px;
  margin-right: 75px;

  font-family: "Bitcount Single", sans-serif;
  font-weight: 400;
  font-size: 25px;
  text-align: center;
  text-decoration: none;

  background-color: black;
  color: lightblue;
  border: none;
  border-radius: 50px;

  cursor: pointer;
  padding: 20px 20px;
}
