body {
  background-color: lightblue;
}

h1 {
  position: relative;
  left: 100px;
  top: 35px;
  color: black;
  font-family: "Bitcount Single", sans-serif;
  font-weight: 400;
  font-size: 50px;
}

1.button {
  position: relative;
  left: 500px;
  top: 755px;
  font-family: "Bitcount Single", sans-serif;
  font-weight: 400;
  font-size: 25px;
  background-color: black;
  border: none;
  color: lightblue;
  padding: 30px 30px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  border-radius: 38px;
}

2.button {
  position: relative;
  left: 150px;
  top: 75px;
  font-family: "Bitcount Single", sans-serif;
  font-weight: 400;
  font-size: 25px;
  background-color: black;
  border: none;
  color: lightblue;
  padding: 30px 30px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  border-radius: 38px;
}
