body {
  background-color: lightblue;
}

h1 {
  color: black;
  font-family: "Bitcount Single", sans-serif;
  font-weight: 400;
  font-size: 50px;
}

.button {
  background-color: black;
  border: none;
  color: lightblue;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
}
