body {
  background-color: lightblue;
}

h1 {
  justify-content: center;
  align-items: center;
  font-family: "Bitcount Single", sans-serif;
  font-weight: 400;
  font-size: 50px;
  color: black;
}

.button {
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  margin-right: 200px;
  position: relative;
  font-family: "Bitcount Single", sans-serif;
  font-weight: 400;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  color: lightblue;
  background-color: black;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
