body {
  width: 1000px;
  height: 500px;
  background-color: lightblue;
}

h1 {
  font-family: "Bitcount Single", sans-serif;
  font-weight: 400;
  font-size: 50px;
  color: black;
  position: relative;
  top: 35px;
  left: 500px;
}

.button {
  display: inline-block;
  padding: 20px 20px;
  margin-right: 200px;
  position: relative;
  top: 75px;
  left: 400px;
  font-family: "Bitcount Single", sans-serif;
  font-weight: 400;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  color: lightblue;
  background-color: black;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
