body {
  background-color: lightblue;     
  padding-top: 50px;        
}

h1 {
  display: flex;
  align-items: center;  
  font-family: "Bitcount Single", sans-serif;
  font-weight: 400;
  font-size: 50px;
  color: black;
  margin-bottom: 30px;      
  text-align: center;       
}

.button {
  display: flex;
  align-items: center;  
  gap: 150px;  
  font-family: "Bitcount Single", sans-serif;
  font-weight: 400;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  background-color: black;
  color: lightblue;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  padding: 20px 20px;
}
