body {
  background-color: lightblue;
}

h1 {
  color: black;
  font-family: "Bitcount Single", sans-serif;
  font-weight: 400;
  font-size: 50px;
}

.button {
  background-color: black;
  color: lightblue;
  font-size: 16px;
  border-radius: 16px;
  cursor: pointer;
}
