body {
  background-color: lightblue;
}

h1 {
  position: relative;
  left: 100px;
  top: 35px;
  color: black;
  font-family: "Bitcount Single", sans-serif;
  font-weight: 400;
  font-size: 50px;
}

.button {
  position: relative;
  left: 100px;
  top: 35px;
  font-family: "Bitcount Single", sans-serif;
  font-weight: 400;
  font-size: 25px;
  background-color: black;
  border: none;
  color: lightblue;
  padding: 30px 30px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  border-radius: 38px;
}
