body {
  background-color: lightblue;
}

@media screen and (max-width: 600px){
  h1 {
    display: inline-block;
    position: relative;
    left: 25px;
    font-family: "Bitcount Single", sans-serif;
    font-weight: 400;
    font-size: 50px;
    color: black;
  }

  .button {
    display: inline-block;
    position: relative;
    left: 15px;
    margin-bottom: 15px;
    font-family: "Bitcount Single", sans-serif;
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    background-color: black;
    color: lightblue;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    padding: 20px 20px;
  }
  
}

@media screen and (min-width: 601px){
  h1 {
    display: flex;
    position: relative;
    top: 25px;
    justify-content: center;
    font-family: "Bitcount Single", sans-serif;
    font-weight: 400;
    font-size: 50px;
    color: black;
  }

  .button {
    display: flex;
    position: relative;
    width: 500px;
    top: 75px;
    justify-content: center; 
    margin: 5px auto 5px auto;
    font-family: "Bitcount Single", sans-serif;
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    background-color: black;
    color: lightblue;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    padding: 20px 20px;
  }
  
}
