body {
  background-color: lightblue;
}

@media screen and (max-width: 600px){
  h1 {
  display: inline;
  position: relative;
  top: 25px;
  left: 25px;

  font-family: "Bitcount Single", sans-serif;
  font-weight: 400;
  font-size: 50px;
  color: black;
  }

  .button {
  display: inline-block;
  position: relative;
  top: 50px;
  left: 30px;
  margin-bottom: 30px;

  font-family: "Bitcount Single", sans-serif;
  font-weight: 400;
  font-size: 25px;
  text-align: center;
  text-decoration: none;

  background-color: black;
  color: lightblue;
  border: none;
  border-radius: 50px;

  cursor: pointer;
  padding: 20px 20px;
  }
  
}

@media screen and (min-width: 601px){
  h1 {
  display: table;
  position: relative;
  top: 35px;
  left: 450px;

  font-family: "Bitcount Single", sans-serif;
  font-weight: 400;
  font-size: 50px;
  color: black;
  }

  .button {
  position: relative;
  top: 75px;
  left: 400px;
  margin-right: 115px;

  font-family: "Bitcount Single", sans-serif;
  font-weight: 400;
  font-size: 25px;
  text-align: center;
  text-decoration: none;

  background-color: black;
  color: lightblue;
  border: none;
  border-radius: 50px;

  cursor: pointer;
  padding: 20px 20px;
  }
  
}
